<input type="hidden" id="add_wishlist_url" value="<?php echo $this->getUrl("wishlist/index/ajaxadd"); ?>" />
<?php echo $this->getBlockHtml('formkey'); ?>
<?php
$items = $this->getWishlistData();
$data = array();
foreach($items as $item){
    $data[] = $item->getProductId();
}
?>
<script>
    document.observe("dom:loaded", function() {
        var currentWishlist = <?php echo json_encode($data); ?>;
        console.log(currentWishlist);
        controlObj = new wishlistControl();
        $$(".product-save-btn").each(function(e){
            var productId = e.readAttribute('product_id');
            if(currentWishlist.indexOf(productId) == -1){
                e.up().removeClassName('saved');
            }else{
                e.up().addClassName('saved');
            }
            e.observe("click",function(){
                controlObj.add(e);
            });
            controlObj.addItem(e.readAttribute("product_id"),e);
        });

    });

    var wishlistControl = Class.create();
    wishlistControl.prototype = {
        initialize : function(){
            this.formkey = $$("input[name=form_key]")[0].value;
            this.url = $("add_wishlist_url").value;
            this.linkCollection = {};

        },
        addItem : function(key,item){
            if(!this.linkCollection[key]){
                this.linkCollection[key] = [];
            }

            this.linkCollection[key].push(item);

        },
        setStatus : function(productId){

        },
        remove : function(product_id){
            controlObj.linkCollection[product_id].each(function(e){
                e.up().removeClassName("saved");
            });
        },
        add : function(link){
            var productId = link.readAttribute("product_id");
            new Ajax.Request(this.url,{
                parameters : {
                    'form_key' : this.formkey,
                    'product' : productId
                },
                onLoading:function(){
                    $("resultLoading").show();
                },
                onSuccess:function(transport){
                    $("resultLoading").hide();
                    controlObj.linkCollection[productId].each(function(e){
                        e.up().addClassName('saved');
                    });

                    var response = transport.responseText.evalJSON([sanitize = true]);
                    controlObj.reloadWishlistPopup(response);

                },
                onFailure:function(){
                    $("resultLoading").hide();
                }
            });
        },
        reloadWishlistPopup : function(data){

            if(parseInt(data.count) > 1) {
                var text = "<span>Saved items (" + data.count + ")</span>";
                $$("a.saved_item").each(function(item){
                    item.update(text);
                });
            }
            else {
                var text = "<span>Saved item (" + data.count + ")</span>";
                $$("a.saved_item").each(function(item){
                    item.update(text);
                });
            }

            $$('.saved_item.mobile')[0].update('<span>('+ data.count + ')</span>');
            $$('.saved-items')[0].innerHTML = data.popup;

            setTimeout(showSavePopup(),1000);
            if(RELOAD_WISHLIST) {
                reloadAtWishlistPage();
            }

            jQuery('.list-product .btn-remove').each(function(){
                var itemId = jQuery(this).attr('itemId');
                var productId = jQuery(this).attr('productId');
                jQuery('#save_button_' + productId).attr('wishlistid',itemId);
                jQuery('#btn_add_' + productId).attr('wishlistid',itemId);
            })
        }
    };
</script>